:root {
  --blue: rgb(88, 164, 246);
  --light: #fff;
}

/* 浅色主题 */
:root,
:root[data-theme="light"] {
  --bg-color: #f4f4f4;
  --text-color: #000;
  --scrollbar-track: #f4f4f4;
  --scrollbar-thumb: #666;
}

/* 深色主题 */
:root[data-theme="dark"] {
  --bg-color: #282c34;
  --text-color: #e6e6e6;
  --scrollbar-track: #303133;
  --scrollbar-thumb: #666;
}


html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Cascadia Code', Segoe Fluent Icons, '喵字果汁体', 黑体, 微软雅黑, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

button {
  border: none;
  background: none var(--blue);
  color: var(--light);
  line-height: 2.5;
  cursor: pointer;
  transition: opacity .2s;
}

button:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

button:not(:disabled):active {
  opacity: 0.6;
}

textarea {
  display: block;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-color: var(--scrollbar-track);
}